/* 일반 화면 스타일 */
.App {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topHalf {
  position: relative;
  flex: 0.5;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.bottomHalf {
  position: relative;
  flex: 0.5;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.backSky {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: linear-gradient(to right, #111, #0e0f19);  
  overflow: hidden;
}

.sky {
  width: 100vw;
  height: 100vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: moveStar 240s linear infinite;
}

.sky .star {
  fill: #fff;
  stroke: none;
  stroke-width: 0;
}

@keyframes moveStar {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* 모바일 화면 스타일
@media (max-width: 600px) {
  .backSky {
    height: 50vh;
    
  }
  
  .sky {
    height: 50vw;
  }
} */
